* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  font-family: 'Lato', sans-serif;
  background-color: #1E2D3B;
}

header {
  height: 70px;
  padding: 0 15px;
  background-color: #2E3A46;
  border-bottom: 2px solid black;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header img {
  height: 50px;
}

header select {
  width: 80px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 50px;
}

.box_disc {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  background-color: #2E3A46;
  height: 330px;
  width: 170px;
  border-radius: 10px;
  padding: 15px;
  margin: 10px 15px;
  text-align: center;
}

.box_disc img {
  width: 140px;
}

.box_disc h3 {
  margin-top: 15px;
  margin-bottom: 20px;
  text-transform: uppercase;
  color: white;
}

.author, .year {
  color: grey;
}
